body {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: ghostwhite;
}

.center>form>* {
    padding: 1em;
}

h1 {
    text-align: center;
    font-family: "Oswald", sans-serif;
}

button {
    width: 100%;
}

.mainsite {
    width: 33%;
    padding: 1em;
}