<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup Epaper</title>
</head>

<body>
    <form action="set" method="post">
        <input type="text" name="text" required placeholder="Text oder Link" id=""><br>
        <input type="radio" id="text" required name="typ" value="text">
        <label for="male">Text</label><br>
        <input type="radio" id="qr" required name="typ" value="qr">
        <label for="female">QR Code</label><br>
        <input type="radio" id="img" required name="typ" value="img">
        <label for="female">Bild</label><br>
        <input type="password" name="pw" required placeholder="PW" id="">
        <button type="submit">Send</button>
    </form>
</body>

</html>