<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aktuelles Bild</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
    </style>


    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Aktuelles Bild</h1>
    <img src="/render/image.png" alt="" srcset="">
    <button class="mainsite" onclick="location.replace('/set')">Neues Bild</button>
</body>

</html>